---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app miniflux
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    initContainers:
      init-db:
        image: ghcr.io/cftechwiz/postgres-initdb:14.7
        envFrom:
          - secretRef:
              name: miniflux-secret
    controller:
      replicas: 3
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/miniflux/miniflux
      tag: 2.2.17
    env:
      BASE_URL: https://miniflux.falhalla.com
      CREATE_ADMIN: "1"
      DEBUG: "1"
      LOG_DATE_TIME: "1"
      METRICS_ALLOWED_NETWORKS: "${NET_POD_CIDR}"
      METRICS_COLLECTOR: "1"
      OAUTH2_CLIENT_ID: miniflux
      OAUTH2_USER_CREATION: "1"
      OAUTH2_OIDC_DISCOVERY_ENDPOINT: https://auth.falhalla.com
      OAUTH2_PROVIDER: oidc
      OAUTH2_REDIRECT_URL: https://miniflux.falhalla.com/oauth2/oidc/callback
      POLLING_SCHEDULER: entry_frequency
      POLLING_FREQUENCY: "15"
      RUN_MIGRATIONS: "1"
    envFrom:
      - secretRef:
          name: miniflux-secret
    service:
      main:
        ports:
          http:
            port: &port 8080
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: ipv4.falhalla.com
          hajimari.io/icon: mdi:rss
        hosts:
          - host: &host "{{ .Release.Name }}.falhalla.com"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /healthcheck
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    resources:
      requests:
        # cpu: 1m
        memory: 100Mi
      limits:
        memory: 750Mi
