---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/cfallwell/qbittorrent-beta
      tag: 4.5.1@sha256:b7aa7ca1683c031c51bd6a894e8003fd7abe1a259d691ad4eb2b3f81d3e3919c
    env:
      TZ: America/Chicago
      QBITTORRENT__PORT: &port 80
      QBITTORRENT__BT_PORT: &port-bt 50413
    service:
      main:
        ports:
          http:
            port: *port
      bittorrent:
        enabled: true
        type: LoadBalancer
        externalIPs: ["${SVC_QBITTORRENT_ADDR}"]
        ports:
          bittorrent:
            enabled: true
            port: *port-bt
            protocol: TCP
            targetPort: *port-bt
        externalTrafficPolicy: Local
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_hide_header "x-webkit-csp";
            proxy_hide_header "content-security-policy";
            proxy_hide_header "X-Frame-Options";
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.intra.falhalla.com/css/base/qbittorrent/nord.css"></head>';
            sub_filter_once on;
          hajimari.io/icon: mdi:download
          hajimari.io/group: Intranet Apps
        hosts:
          - host: &host qb.intra.falhalla.com
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 1004
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-filesystem
        labels:
          snapshot.home.arpa/enabled: "true"
    persistence:
      downloads:
        enabled: true
        type: nfs
        server: falhallanas.lab
        path: /nfs/Downloads
        mountPath: /downloads
      media:
        enabled: true
        type: nfs
        server: falhallanas.lab
        path: /nfs/Media
        mountPath: /media
      incomplete:
        enabled: true
        type: emptyDir
    # nodeSelector:
      # node-role.kubernetes.io/worker: "true"
    resources:
      requests:
        cpu: 1m
        memory: 250Mi
      limits:
        memory: 6000Mi
