---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app n8n
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    initContainers:
      init-db:
        image: ghcr.io/cftechwiz/postgres-initdb:14.7
        envFrom:
          - secretRef:
              name: n8n-secret
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/n8nio/n8n
      tag: 2.8.3
    env:
      GENERIC_TIMEZONE: America/Chicago
      TZ: America/Chicago
      N8N_PORT: &port 80
      N8N_EMAIL_MODE: smtp
      N8N_SMTP_HOST: hassio.lab
      N8N_SMTP_PORT: 25
      N8N_SMTP_SENDER: admin@falhalla.com
      N8N_METRICS: "true"
    envFrom:
      - secretRef:
          name: n8n-secret
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          hajimari.io/icon: mdi:workflow
          hajimari.io/group: Intranet Apps
        hosts:
          - host: &host n8n.intra.falhalla.com
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    volumeClaimTemplates:
      - name: config
        mountPath: /home/node/.n8n
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-filesystem
        labels:
          snapshot.home.arpa/enabled: "true"
    resources:
      requests:
        # cpu: 1m
        memory: 50Mi
      limits:
        memory: 500Mi
