---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: default
spec:
  values:
    additionalContainers:
      exporter:
        name: exporter
        image: docker.io/kpetrem/mqtt-exporter:latest@sha256:7db8598791d77a1924c0b1ad9152d79c80a376af7c73884331181f4d159cf69c
        env:
          - name: LOG_LEVEL
            value: DEBUG
          - name: LOG_MQTT_MESSAGE
            value: "True"
          - name: MQTT_ADDRESS
            value: emqx.default.svc.cluster.local
          - name: MQTT_TOPIC
            value: "zigbee2mqtt/#"
          - name: MQTT_V5_PROTOCOL
            value: "True"
          - name: MQTT_USERNAME
            valueFrom:
              secretKeyRef:
                name: emqx-secret
                key: user_1_username
          - name: MQTT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: emqx-secret
                key: user_1_password
          - name: PROMETHEUS_PORT
            value: "80"
          - name: PROMETHEUS_PREFIX
            value: zigbee2mqtt_
          - name: ZIGBEE2MQTT_AVAILABILITY
            value: "True"
