receivers:
  filelog/custom_files:
    include:
      - /var/log/apt/dpkg.log
      - /var/log/debug
      - /var/log/audit/audit.log
      - /var/log/cron.log
      - /var/log/auth.log
      - /var/log/mail.log
      - /var/log/kern.log
      - /var/log/syslog
    include_file_name: true
    include_file_path_resolved: true

processors:
  groupbyattrs/custom_files:
    keys:
      - log.file.path_resolved
  resource/custom_files:
    attributes:
      - key: sumo.datasource
        value: linux
        action: insert
  transform/custom_fields:
    log_statements:
    - context: resource
      statements:
        statements:
          - set(attributes["_sourceCategory"], "linux/system/{{ ansible_hostname}}")
  resource/linux_resource_attributes/logs/localhost:
    attributes:
      - key: _source
        value: linux/filelog
        action: insert
service:
  pipelines:
    logs/custom_files:
      receivers:
        - filelog/custom_files
      processors:
        - memory_limiter
        - groupbyattrs/custom_files
        - resource/custom_files
        - transform/custom_fields
        - resourcedetection/system
        - batch
      exporters:
        - sumologic
