receivers:
  filelog/json_files:
    storage: file_storage
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
      - type: json_parser
        parse_to: body
    include:
      - /var/log/messages.json
processors:
  groupbyattrs/json_files:
    keys:
      - log.file.path_resolved
  resource/json_files:
    attributes:
      - key: sumo.datasource
        value: linux
        action: insert
      - key: _contentType
        value: OpenTelemetry
        action: insert
      - key: _source
        value: linux/filelog
        action: insert
  transform/custom_fields:
    log_statements:
      - context: resource
        statements:
          - set(attributes["_sourceCategory"], "linux/system/{{ hostvars[inventory_hostname]}})"
service:
  pipelines:
    logs/json_logs:
      receivers:
        - filelog/json_files
      processors:
        - memory_limiter
        - groupbyattrs/json_files
        - resourcedetection/system
        - resource/json_files
        - transform/custom_fields
        - batch
      exporters:
        - sumologic
