#!/bin/sh

# PROVIDE: k8s_gateway
# REQUIRE: DAEMON NETWORKING
# KEYWORD: shutdown
#
# Add the following to /etc/rc.conf[.local] to enable this service
#
# k8s_gateway_enable  (bool):        Set to NO by default.
#                                Set it to YES to enable k8s_gateway.
# k8s_gateway_config  (str):         Set to /usr/local/etc/k8s_gateway/Corefile by default.
#
# k8s_gateway_logfile (str):         Set to /var/log/k8s_gateway/k8s_gateway.log by default.
#

[Unit]
Description=k8s_gateway Service

[Service]
User=root
WorkingDirectory=/usr/local/etc/k8s_gateway/
ExecStart=<script which needs to be executed>
Restart=always

[Install]
WantedBy=multi-user.target
