---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tubearchivist-web
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: tubearchivist-redis
    - name: tubearchivist-elasticsearch
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/bbilly1/tubearchivist
      tag: v0.5.9
    env:
      TZ: America/Chicago
      ES_URL: http://tubearchivist-elasticsearch.default.svc.cluster.local:9200
      REDIS_HOST: tubearchivist-redis.default.svc.cluster.local
      HOST_UID: 568
      HOST_GID: 568
      TA_HOST: &host tubearchivist.intra.falhalla.com
      TA_USERNAME: admin
    envFrom:
      - secretRef:
          name: tubearchivist-secret
    service:
      main:
        ports:
          http:
            port: 8000
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          hajimari.io/icon: mdi:youtube
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100
    volumeClaimTemplates:
      - name: config
        mountPath: /cache
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
    persistence:
      library:
        enabled: true
        existingClaim: tubearchivist-nfs
        mountPath: /youtube
    resources:
      requests:
        # cpu: 10m
        memory: 250Mi
      limits:
        memory: 2000Mi
