---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-off-deck
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: plex
  values:
    controller:
      type: cronjob
      cronjob:
        concurrencyPolicy: Forbid
        schedule: "@hourly"
    restartPolicy: OnFailure
    image:
      repository: ghcr.io/cftechwiz/jbops
      tag: 1.0.900@sha256:4fdcb1f4516a968d8f7017e639625bf1f4c26adaa89a89dca4148beb7831127d
    args: ["/entrypoint.sh", "--playlists", "Smart Toons"]
    env:
      TZ: America/Chicago
      JBOPS__SCRIPT_PATH: utility/off_deck.py
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: secret
        name: plex-jbops-secret
        subPath: config.ini
        mountPath: /config/config.ini
        readOnly: true
