---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex-off-deck
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: plex
  values:
    controller:
      type: cronjob
      cronjob:
        concurrencyPolicy: Forbid
        schedule: "@hourly"
    restartPolicy: OnFailure
    image:
      repository: ghcr.io/cfallwell/jbops
      tag: 1.0.890@sha256:8c612e95e385ad110339f0638a5ba27d82d689015104a95852d70d4370e6aa66
    args: ["/entrypoint.sh", "--playlists", "Smart Toons"]
    env:
      TZ: America/Chicago
      JBOPS__SCRIPT_PATH: utility/off_deck.py
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: secret
        name: plex-jbops-secret
        subPath: config.ini
        mountPath: /config/config.ini
        readOnly: true
