---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: cronjob
      cronjob:
        schedule: "@daily"
        ttlSecondsAfterFinished: 86400
    restartPolicy: OnFailure
    image:
      repository: ghcr.io/recyclarr/recyclarr
      tag: edge@sha256:d587fa1ef44c45b07893049ea130f0b29a4dd5578c01287e020fc4b698f0a82c
    command: ["/app/recyclarr/recyclarr"]
    args: ["sync"]
    envFrom:
      - secretRef:
          name: radarr-secret
      - secretRef:
          name: sonarr-secret
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: configMap
        name: recyclarr-configmap
        subPath: recyclarr.yml
        mountPath: /config/recyclarr.yml
        defaultMode: 0775
        readOnly: true
