---
# yaml-language-server: $schema=https://kubernetes-schemas.falhalla.com/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: semaphore
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    initContainers:
      init-db:
        image: ghcr.io/cftechwiz/postgres-initdb:14.7
        envFrom:
          - secretRef:
              name: semaphore-secret
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/semaphoreui/semaphore
      tag: v2.16.51
    env:
      SEMAPHORE_LDAP_ACTIVATED: "no"
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN_EMAIL: admin@falhalla.com
    envFrom:
      - secretRef:
          name: semaphore-secret
    service:
      main:
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: ipv4.falhalla.com
          hajimari.io/icon: mdi:ansible
        hosts:
          - host: &host "{{ .Release.Name }}.falhalla.com"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    resources:
      requests:
        # cpu: 1m
        memory: 50Mi
      limits:
        memory: 1000Mi
