---
name: "HelmRelease Diff"

on:
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**/helmrelease.yaml"]

env:
  BOT_USERNAME: rosey-bot[bot]
  KUBERNETES_DIR: kubernetes/

jobs:
  changed-files:
    name: Detect File Changes
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@32691ba7c9e7063bd457bd8f2a5703138591fa58 # v1.9.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: "${{ steps.generate-token.outputs.token }}"

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v47.0.2
        with:
          json: true
          files: |
            kubernetes/**/helmrelease.yaml

      - id: set-matrix
        run: echo "matrix={\"file\":${{ steps.changed-files.outputs.all_changed_files }}}" >> "${GITHUB_OUTPUT}"

  diff:
    name: Diff on Helm Releases
    runs-on: ubuntu-latest
    needs: [changed-files]
    strategy:
      matrix: ${{ fromJSON(needs.changed-files.outputs.matrix) }}
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@32691ba7c9e7063bd457bd8f2a5703138591fa58 # v1.9.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: "${{ steps.generate-token.outputs.token }}"

      - name: Checkout default branch
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          ref: "${{ github.event.repository.default_branch }}"
          path: default

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Tools
        run: |
          brew install helm homeport/tap/dyff kustomize yq

      - name: Diff
        id: diff
        run: |
          diff=$(npx zx ./.github/scripts/helmReleaseDiff.mjs \
            --current-release "default/${{ matrix.file }}" \
            --incoming-release "${{ matrix.file }}" \
            --kubernetes-dir ${{ env.KUBERNETES_DIR }})
          echo "diff<<EOF" >> "${GITHUB_OUTPUT}"
          echo "${diff}" >> "${GITHUB_OUTPUT}"
          echo "EOF" >> "${GITHUB_OUTPUT}"

      - name: Find Comment
        if: ${{ always() && steps.diff.outputs.diff != '' }}
        uses: peter-evans/find-comment@3eae4d37986fb5a8592848f6a574fdf654e61f9e # v3.1.0
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: ${{ env.BOT_USERNAME }}
          body-includes: ${{ matrix.file }}

      - name: Create or update comment
        if: ${{ always() && steps.diff.outputs.diff != '' }}
        uses: peter-evans/create-or-update-comment@23ff15729ef2fc348714a3bb66d2f655ca9066f2 # v3.1.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Helm Release: `${{ matrix.file }}`

            ```
            ${{ steps.diff.outputs.diff }}
            ```
          edit-mode: replace
