---
name: "Publish Docs"

on:
  push:
    branches: ["main"]
    paths: ["docs/**", "**/*.md"]
  pull_request:
    branches: ["main"]
    paths: ["docs/**", "**/*.md"]

jobs:
  publish:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@32691ba7c9e7063bd457bd8f2a5703138591fa58 # v1.9.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: "${{ steps.generate-token.outputs.token }}"

      - name: Build docs
        uses: docker://ghcr.io/bjw-s/mdbook:0.4.44@sha256:cecb70606cf5d43b34d9697eaab463847a6cd29a478ec5d91afb30337e6f4ad0
        with:
          args: mdbook build docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: "${{ steps.generate-token.outputs.token }}"
          publish_dir: ./docs/book
          user_name: "rosey-bot[bot]"
          user_email: "rosey-bot <98030736+rosey-bot[bot]@users.noreply.github.com>"
